$font-stack: 'Libre Franklin', sans-serif;

$black: #000;
$brown: #5a3f37;
$cream: #f4e2d8;
$darkGreen: #2c7744;
$darkPink: #b91d73;
$darkRed: #93291e;
$green: #0f9b0f;
$lightBlue: #6dd5fa;
$lightGreen: #3ca55c;
$lightPink: #ee9ca7;
$ligthPurple: #acb6e5;
$lightViolet: #a044ff;
$lightWood: #eacda3;
$mango: #ffa751;
$olive: #b5ac49;
$orange: #fc4a1a;
$pink: #f953c6;
$purple: #ba5370;
$red: #ed213a;
$skyBlue: #2980b9;
$yellow: #f7b733;
$violet: #6a3093;
$water: #74ebd5;
$white: #fff;
$whitePink: #ffdde1;
$wood: #d6ae7b;
